In [1]:
print("Dinesh")

Dinesh

<p>Welcome</p>

<p>Lab</p>

In [9]:
import pandas as pd

In [10]:
df = pd.dataframe

AttributeError: module 'pandas' has no attribute 'dataframe'

In [8]:
pd.read_excel(r"C:\Users\Dinesh\OneDrive\Documents\4th_Sem_Lab\Data_Preprocess_Lab\Stress.xlsx")

     Name  Age  Exam
0  Dinesh   21    85
1     XYZ   19    80
2     ABC   20    75